html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #F9F9F9;
    max-width: 760px;
    margin: 0 auto;
    /*position: relative;*/
    min-height: 100%;
    /*overflow-x: hidden;*/
    -webkit-overflow-scrolling: touch;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

.content-width {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}